{% extends "layout.html" %}
{% block content %}
    <h1>Plotly express charts</h1>
    <h2>Chart name</h2>
    <img alt="school closures by date" src="{{ url_for('static', filename='/charts/school_closure_by_date.png') }}">
    <p>You may want to include a <a href="{{ url_for('static', filename='/charts/gapminder.html') }}">link to the HTML
        version of the chart</a> rather than include a static image. </p>
    <p>Chart created by: {names of team member(s)} (NB: Remember to add the name of who created the chart in comments in
        the code file)</p>
    <p>Code for the chart is in {filename}</p>
    <p>An explanation and reflection on the chart (see coursework spec on Moodle for what to discuss).</p>
    <hr>
    <h2>Chart name 2</h2>
    <p>etc...</p>
{% endblock %}