{% extends "layout.html" %}
{% block content %}
    <h1>Matplotlib charts</h1>
    <h2>Chart name</h2>
    <img alt="school closures by date" src="{{ url_for('static', filename='/charts/school_closure_by_date.png') }}">
    <p>Chart created by: (also remember to add the name of who created the chart in comments in the code file)</p>
    <p>Code for the chart is in {filename}</p>
    <p>An explanation and reflection on the chart (see coursework spec for what to write about).</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod consequat consectetur. Vivamus interdum ante at auctor porttitor. Nulla non turpis in arcu varius bibendum. Phasellus ornare iaculis libero, sit amet congue erat molestie a. Phasellus eget finibus dui, sit amet consequat velit. Maecenas a eros maximus, pretium odio semper, fringilla elit. Phasellus eu velit at ipsum vestibulum scelerisque volutpat eu mauris. Duis dictum sed felis a lacinia. Aenean iaculis neque eu condimentum dignissim. Phasellus consequat tortor non nibh viverra, quis pulvinar augue pulvinar. Donec malesuada magna a tortor laoreet, id feugiat tellus consectetur. Praesent ut purus lacinia, iaculis est sed, convallis purus. Nunc nec leo iaculis, pulvinar dolor non, bibendum dolor.</p>
    <p>Vestibulum ultrices sodales consectetur. Nunc quis auctor quam. Phasellus quis lectus quis massa commodo pretium nec sit amet turpis. Integer auctor mi ac nunc egestas luctus. Morbi sit amet nulla sed erat mollis feugiat. Maecenas quis ipsum condimentum, tristique justo cursus, porta tellus. Phasellus in orci vitae urna mattis eleifend. Curabitur efficitur ex in mi dapibus, sed finibus dui vulputate. Proin id leo id lectus tempor tempor at et orci. Ut nec tincidunt sem. Sed mollis dapibus lacus, eget aliquet erat fermentum nec. Donec dignissim lorem eget magna.</p>
    <hr>
    <h2>Chart name 2</h2>
    <p>As for above include the chart image and explanatory text.</p>
```
{% endblock %}